.card {
	box-sizing: border-box;
	background-color: white;
	border-top: solid 1px white;
	border-right: solid 1px #ccc;
	border-bottom: solid 1px white;
	border-left: solid 1px #ddd;
	padding: 0;
	border-radius: 5px;
	box-shadow: 2px 2px 8px #555;
	margin: 10px;
	transition: all 0.3s ease-out;
}

.title {
	font-size: 1.6rem;
	font-weight: bold;
	color: #3f3f3f;
	border-bottom: solid 1px #ccc;
	margin-bottom: 0.5rem;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
}

.body {
	padding-top: 1.2rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	padding-bottom: 1.2rem;
	font-size: 1.2rem;
}

.footer {
	border-top: solid 1px #ccc;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	padding-left: 0.1rem;
}
.footer.right {
	text-align: right;
	padding-right: 0.1rem;
}