.pageWrapper {
	width: 100%;
	height: 100vh;
	background: #257aa6 url('../../../public/images/forest-bg.jpg') no-repeat;
	background-size: cover;
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.infoCard {
	width: 500px;
	text-align: center;
}

.redirectHelp {
	margin-top: 2rem;
}