@import "../../variables.scss";

.sidebar {
	width: 250px;
	background: $darkBlue;
	color: white;
	padding-top: 20px;
	border-right: solid 1px #ddd;
	box-shadow: 1px 2px 5px #666;
	transition: all 0.3s ease-out;
	z-index: 11;
	transform: translateX(-400px);
	&.visible {
		transform: translateX(0);
	}
}

.linkWrapper {
	display: flex;
	align-items: stretch;
	height: 50px;
	transition: all 0.2s ease-out;
	border-left: solid 5px transparent;
	vertical-align: middle;
	color: #bbb;
	width: 100%;
	font-size: 1.2rem;
	align-items: center;
	&:hover {
		cursor: pointer;
		border-left: solid 5px white;
		color: white;
		.linkIcon {
			color: white;
		}
	}
	&.selected {
		background: white;
		border-left-color: #666;
		color: #666;
		&:hover {
			color: #666;
		}
		.linkIcon {
			color: #666;
		}
	}
}

.linkIcon {
	display: inline-block;
	color: #bbb;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5rem;
	padding: 0.75rem;
	// background: red;
	margin-right: 1rem;
}