@import "../../variables.scss";

.sidebar {
	width: 250px;
	background: $darkBlue;
	color: white;
	padding-top: 20px;
	border-right: solid 1px #ddd;
	box-shadow: 1px 2px 5px #666;
	transition: all 0.3s ease-out;
	z-index: 11;
	transform: translateX(-400px);
	&.visible {
		transform: translateX(0);
	}
}

.linkWrapper {
	display: flex;
	align-items: center;
	padding-left: 1rem;
	height: 50px;
	transition: all 0.2s ease-out;
	border-left: solid 5px transparent;
	vertical-align: middle;
	&:hover {
		cursor: pointer;
		border-left: solid 5px white;
		a {
			color: white;
		}
		i {
			color: white;
		}
	}
	a {
		display: block;
		width: 100%;
		font-size: 1.2rem;
		color: #bbb;
	}
}

.linkIcon {
	display: inline-block;
	color: #bbb;
	text-align: center;
	vertical-align: middle;
	line-height: 2rem;
	font-size: 1.5rem;
	width: 30px;
	height: 30px;
	margin-right: 1.2rem;
}