@import "../../../variables.scss";

.radioWrapper {
	display: flex;
	&.noclick {
		pointer-events: none;
	}
	.radio {
		position: relative;
		color: #999;
		display: inline-block;
		border: solid 1px #ccc;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		outline: none;
		transition: all 0.3s ease-out;
		&.selected {
			background: $linkBlue;
			border: solid 1px $linkBlue;
			&:after {
				content: ' ';
				position: absolute;
				left: 5px;
				top: 5px;
				width: 8px;
				height: 8px;
				background: white;
				border-radius: 100%;
			}
		}
		&.noclick {
			pointer-events: none;
		}
		&.disabled {
			border: solid 1px #999;
			background: #ccc;
		}
		&.disabled.selected {
			&:after {
				background: #999;
			}
		}
	}
	.radioLabel {
		margin-left: 10px;
		&.left {
			margin-left: 0;
			margin-right: 10px;
		}
	}
}
