@import "../../../variables.scss";

.tabs {
	background: white;
	border: solid 1px #ccc;
	min-width: 120px;
	display: flex;
	flex: 1 1 0;
	box-shadow: 0 0 5px #ddd;
	&.horizontal {
		flex-direction: column;
		width: auto;
		.tabTitleWrapper {
			flex-direction: row;
		}
		.tab {
			flex: 1 1 0;
			border-bottom: solid 3px transparent;
			&.active {
				border-bottom: solid 3px $linkBlue;
				color: black;
			}
		}
	}
	&.vertical {
		flex-direction: row;
		.tabTitleWrapper {
			flex-direction: column;
		}
		.tab {
			border-right: solid 3px transparent;
			&.active {
				border-right: solid 3px navy;
			}
		}
	}
	.tabTitleWrapper {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		font-weight: bold;
		color: #888;
	}
	.tabBody {
		padding: 1rem;
	}
}

.tab {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	outline: none;
	padding: 0.8rem;
	transition: all 0.2s ease-in;
	justify-content: center;
	text-align: center;
	background: none;
	border: none;
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 5px;
		height: 5px;
		background: rgba(225, 225, 225, .5);
		opacity: 0;
		border-radius: 100%;
		transform: scale(1, 1) translate(-50%);
		transform-origin: 50% 50%;
	}
	&:focus:not(:active)::after {
		animation: ripple 1s ease-out;
	}
}