.dropdownMenu {
	background: white;
	border: solid 1px #ccc;
	box-shadow: 0 2px 8px #ccc;
	position: absolute;
	z-index: 80;
	overflow-y: auto;
}

.dropdownOption {
	padding: 1rem;
	cursor: pointer;
	min-width: 120px;
	outline: none;
	&.truncate {
		width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&:hover {
		background: #ccc;
	}
}