.dropdownWrapper {
	display: flex;
	flex-direction: column;
	background: white;
	border: solid 1px #ccc;
	box-shadow: 0 2px 8px #ccc;
	position: absolute;
	z-index: -1;
	overflow-y: auto;
	height: 300px;
	border-radius: 5px;
}

.dropdownMenu {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow-y: auto;
}

.dropdownOption {
	padding: 1rem;
	cursor: pointer;
	min-width: 120px;
	outline: none;
	&.truncate {
		width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&:hover {
		background: #ccc;
	}
}