.select-container {
	position: relative;
	margin-right: 1rem;
	input {
		padding: 0.7rem 1rem;
		outline: none;//solid 1px #257aa6;
		border: solid 1px #ccc;
		cursor: pointer;
		transition: all 0.2s ease-in;
		width: 100%;
		&:hover {
			background: #eee;
			border: solid 1px #557a8d;
		}
		&:focus {
			cursor: text;
		}
	}
	.select-arrow {
		position: absolute;
		right: 15px;
		top: 13px;
		z-index: 2;
		pointer-events: none;
		color: #666;
	}
	.select-dropdown {
		position: absolute;
		background: white;
		border: solid 1px #ccc;
		box-shadow: 0 2px 8px #ccc;
		width: 100%;
		overflow: hidden;
		.select-option {
			padding: 1rem;
			cursor: pointer;
			display: flex;
			outline: none;
			&.active {
				background: #ccc;
			}
			.option-value {
				flex: 1 auto;
				pointer-events: none;
			}
			.tickbox {
				position: relative;
				color: #999;
				display: inline-block;
				border: solid 1px #aaa;
				width: 20px;
				height: 20px;
				&.checked {
					&:after {
						content: ' ';
						position: absolute;
						right: 5px;
						top: 0;
						width: 5px;
						height: 13px;
						border-right: solid 3px #333;
						border-bottom: solid 3px #333;
						transform: rotate(45deg);
					}
				}
			}
		}
	}	
}