.gallery {
	height: inherit;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	.galleryImage {
		position: absolute;
		left: 0;
		width: 100%;
		height: inherit;
		opacity: 0;
		transition: all 0.3s ease-out;
		&.active {
			opacity: 1;
			top: 0;
		}
		div {
			width: 100%;
			height: 100%;
			background-size: cover;
			border-radius: 6px;
		}
	}
}