@import "../../../variables.scss";

.calendar {
	margin-bottom: 10px;
	border-radius: 5px;
	.calHeader {
		height: 35px;
		background: $linkBlue;
		color: white;
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		.monthControl {
			display: flex;
			justify-content: center;
			width: 35px;
			height: 35px;
			button {
				height: 35px;
				background: none;
				border: none;
				color: white;
				cursor: pointer;
				&:hover {
					color: lightblue;
				}
			}
		}
		.currMonth {
			display: flex;
			flex: 1;
			justify-content: center;
			font-weight: bold;
			button {
				color: white;
				background: none;
				border: none;
				&:hover {
					color: lightblue;
					cursor: pointer;
				}
			}
		}
	}
	.dates {
		border: solid 1px #ccc;
		border-top: none;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		.dateRow {
			display: flex;
			flex: 1;
			height: 35px;
			align-items: center;
			color: #666;
			&.heading {
				font-weight: bold;
			}
			&.even {
				background: #eee;
			}
			&.large {
				height: 75px;
			}
			.dateItem {
				display: flex;
				flex: 1;
				justify-content: center;
				align-items: center;
				height: 100%;
				position: relative;
				z-index: 1;
				outline: none;
				cursor: default;
				&.large {
					border: solid 1px transparent;
					border-right: solid 1px #ccc;
					align-items: center;
					justify-content: flex-start;
					&:last-child {
						border-color: transparent;
					}
					&.valid {
						flex-direction: column;
						.shownDate {
							display: flex;
							justify-content: flex-start;
							pointer-events: none;
						}
						.event {
							font-size: 0.85rem;
							margin-bottom: 2px;
							display: flex;
							width: calc(100% - 5px);
							justify-content: center;
							background: $red;
							color: white;
							pointer-events: none;
						}
						&:hover {
							border: solid 1px #666;
							&:before {
								content: none;
							}
						}
					}
					&.selected {
						border: solid 1px $red;
						color: #666;
						&:before {
							content: none;
						}
					}
					&.today {
						border: solid 1px $linkBlue;
						color: #666;
						&:before {
							content: none;
						}
					}
				}
				&.valid {
					cursor: pointer;
					&:hover {
						&:before {
							content: '';
							width: 30px;
							height: 30px;
							background: #ccc;
							position: absolute;
							left: 50%;
							top: 5%;
							transform: scale(1, 1) translate(-50%);
							transform-origin: 50% 50%;
							z-index: -1;
							border-radius: 100%;
						}
					}
				}
				&.today {
					color: white;
					z-index: 1;
					&:before {
						content: '';
						width: 30px;
						height: 30px;
						background: $linkBlue;
						position: absolute;
						left: 50%;
						top: 5%;
						transform: scale(1, 1) translate(-50%);
						transform-origin: 50% 50%;
						z-index: -1;
						border-radius: 100%;
					}
				}
				&.selected {
					color: white;
					&:before {
						content: '';
						width: 30px;
						height: 30px;
						background: $red;
						position: absolute;
						left: 50%;
						top: 5%;
						transform: scale(1, 1) translate(-50%);
						transform-origin: 50% 50%;
						z-index: -1;
						border-radius: 100%;
					}
				}
			}
		}
	}
}