.textContainer {
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
}

.label {
	color: #6f6f6f;
	font-weight: bold;
}

.textboxRow {
	display: flex;
	border: solid 1px #ccc;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	&:hover {
		border: solid 1px #557a8d;
	}
}

.text {
	padding: 10px;
	outline: none;
	border: none;
	transition: all 0.2s ease-out;
	color: #333;
}

.text::placeholder {
	color: #ccc;
}

.text.full {
	flex: 1 1 auto;
}

.textboxIcon {
	background-color: #ccc;
	color: #666;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}