@import "../../../variables.scss";

.textContainer {
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
}

.label {
	color: $label;
	font-weight: bold;
}

.textboxRow {
	display: flex;
	border: solid 1px $formWidgetBorder;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	&:hover {
		border: solid 1px $textBoxHover;
	}
}

.text {
	padding: 10px;
	outline: none;
	border: none;
	transition: all 0.2s ease-out;
	color: #333;
}

.text::placeholder {
	color: $textBoxPlaceholder;
}

.text.full {
	flex: 1 1 auto;
}

.textboxIcon {
	background-color: $btnDefault;
	color: $btnDefaultTextColor;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.errorMessage {
	color: $red;
}