@import "../../../variables.scss";

.textContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-top: 0;
	margin-bottom: 0;
	& + & {
		margin-left: 10px;
	}
}

.label {
	color: $label;
	font-weight: bold;
}

.textboxRow {
	display: flex;
	flex: 1;
	margin-bottom: 0.6rem;
	margin-top: 0.2rem;
	.text {
		width: 100%;
		padding: 10px;
		outline: none;
		border: solid 1px $formWidgetBorder;
		transition: all 0.3s ease-out;
		color: #333;
		&:hover {
			border: solid 1px $textBoxHover;
			background: #eee;
		}
		&:focus {
			border: solid 1px $textBoxHover;
		}
		&::placeholder {
			color: $textBoxPlaceholder;
		}
		&.full {
			flex: 1 1 auto;
		}
	}
}

.textboxIcon {
	background-color: $btnDefault;
	color: $btnDefaultTextColor;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.errorMessage {
	color: $red;
}