.loginContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #257aa6 url('../../../public/images/forest-bg.jpg') no-repeat;
	background-size: cover;
	overflow: hidden;
}

.loginTitle {
	font-size: 2rem;
	margin-left: 0rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

@keyframes slideIn {
    0% {
    	opacity: 0;
    	transform: perspective(10cm) translate3d(0, 100px, 0) rotateX(90deg);
    }
    90% {
    	transform: translate3d(0, -5px, 0);
    }
    100% {
    	opacity: 1;
    	transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOut {
    0% {
    	opacity: 1;
    	transform: translate3d(0, 0, 0);
    }
    100% {
    	opacity: 0;
    	transform: perspective(5cm) translate3d(0, -100px, 0) rotateX(-90deg);
    }
}

.loginCard {
	max-width: 550px;
	min-width: 450px;
	animation: slideIn 1s;
	&.fadeOut {
		animation: slideOut 0.8s forwards;
	}
}

.loginCardBody {
	margin-left: 2.9rem;
	margin-right: 2.9rem;
	margin-bottom: 0rem;
}