.loginContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loginTitle {
	font-size: 2rem;
	margin-left: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.loginCard {
	max-width: 550px;
	min-width: 450px;
	/* animation: fadein 1s; */
}

.loginCardBody {
	margin-left: 2.9rem;
	margin-right: 2.9rem;
	margin-bottom: 0rem;
}