.forgotPasswordContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #257aa6 url('../../../public/images/Liquid-Cheese.svg') no-repeat;
	background-size: cover;
	overflow: hidden;
}