@import "../../variables.scss";

.pageTitle {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
	color: $pageTitle;
}

.settingsWrapper {
	display: flex;
	flex: 1;
	justify-content: center;
}