.default {
	box-sizing: border-box;
	background-color: #ccc;
	padding: 0.8rem;
	border: solid 2px #ccc;
	border-radius: 5px;
	margin: 0.2rem;
	outline: none;
	min-width: 120px;
	transition: all 0.3s ease-out;
	font-weight: bold;
	&:hover {
		background-color: #ddd;
		cursor: pointer;
	}
}

.primary {
	@extend .default;
	background-color: #557a8d;
	border-color: #557a8d;
	color: white;
	&:hover {
		background-color: white;
		color: gray;
		border-color: gray;
	}
}
