@import "../../../variables.scss";

.default {
	box-sizing: border-box;
	background-color: $btnDefault;
	padding: 0.8rem;
	border: solid 2px $btnDefault;
	border-radius: 5px;
	margin: 0.4rem;
	outline: none;
	width: 120px;
	transition: all 0.3s ease-out;
	font-weight: bold;
	&:hover {
		background-color: #ddd;
		cursor: pointer;
	}
}

.primary {
	@extend .default;
	background-color: $textBoxHover;
	border-color: $textBoxHover;
	color: white;
	&:hover {
		background-color: white;
		color: gray;
		border-color: gray;
	}
}
